<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>


</head>
<body>
<div th:fragment="footer">
    <div class="block1">

        <div class="col-lg-2 col-lg-3 col-sm-6" id="block1-text">

            <a href="">
                <p>Домой</p>
            </a>
            <a href="">
                <p>Сообщества</p>
            </a>
            <a href="">
                <p>Вакансии</p>
            </a>
            <a href="">
                <p>Контакты</p>
            </a>
        </div>


    </div>

    <div class="block2">
        <a href="https://msk.top-academy.ru/"> <p class="block2-text">Top Academy 2023</p></a>
        <a href=""><img src="./img/logo.png" alt=""></a>

        <div class="block2-social_network">
            <a href="https://www.telegram.org/"><img src="./img/telegram.png" alt=""></a>
            <a href="https://vk.com/"><img src="./img/vk.png" alt=""></a>
            <a href="https://www.youtube.com/"><img
                    src="./img/youtube.png" alt=""></a>
            <a href="https://ok.ru/"><img src="./img/ok.png" alt=""></a>


        </div>
    </div>
</div>
</body>
</html>
