<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

</head>
<body th:fragment="header">
<nav class="navbar navbar-expand-lg bg-info" >
    <div class="container-fluid" >
        <a class="navbar-brand" th:href="@{/}">
            <img src="/img/logo.png" alt="" style="height: 40px">
            TOOLRENT
        </a>
        <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav m-auto mb-2 mb-lg-0">
                <li class="nav-item" >
                    <a class="nav-link"  th:classappend="${module == 'home' ? 'active' : ''}" aria-current="page" th:href="@{/}"
                    >Главная</a
                    >
                </li>
                <li class="nav-item" >
                    <a class="nav-link " th:classappend="${module == 'sale' ? 'active' : ''}" th:href="@{/sale}">Акции</a>
                </li>
                <li class="nav-item dropdown">
                    <a
                            class="nav-link dropdown-toggle"
                            href="#"
                            role="button"
                            data-bs-toggle="dropdown"
                            aria-expanded="false"
                    >
                        Каталог
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" th:href="@{/categories/batteryTool}"
                            >Аккумуляторный инструмент</a
                            >
                        </li>
                        <li><a class="dropdown-item" th:href="@{/categories/punchers}">Перфораторы</a></li>

                        <li>
                            <a class="dropdown-item" th:href="@{/categories/uhm}">УШМ</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <form class="d-flex" role="search">
                <input
                        class="form-control me-2"
                        type="search"
                        placeholder="Шуруповерт?"
                        aria-label="Search"
                />
                <button class="btn btn-outline-primary-subtle" type="submit">
                    Найти
                </button>
            </form>
            <ul class="navbar-nav m-auto  m-2 mb-lg-0">
                <li class="nav-item">

                        <img src="/img/user.png" alt="">
                   <span th:if="${userInfo}" th:text="${userInfo.name}">...</span>
                    <a th:if="${userInfo}" th:href="@{/logout}" class="btn btn-primary">Выйти</a>
                        <a th:href="@{/personal-account}"  id="authModalButton" class="btn btn-primary"  >
                            Войти
                        </a>


                </li>
            </ul>
        </div>
    </div>
</nav>



<!-- Модальное окно -->
<div class="modal fade" id="authModal" aria-hidden="true" aria-labelledby="authModalLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="authModalLabel">Авторизация</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <div class="modal-body">
                <form th:action="@{/login}" method="post">
                    <div class="mb-3">
                        <label for="inputLogin" class="form-label">Имя пользователя</label>
                        <input type="text" name="username" class="form-control" id="inputLogin" >

                    </div>
                    <div class="mb-3">
                        <label for="authInputPassword" class="form-label">Пароль</label>
                        <input type="password" name="password" class="form-control" id="authInputPassword">
                    </div>

                    <input class="btn btn-primary" type="submit" value="Войти"/>

                </form>
            </div>
            <div class="modal-footer">

                <button class="btn btn-primary" data-bs-target="#registrationModal" data-bs-toggle="modal">Регистрация</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="registrationModal" aria-hidden="true" aria-labelledby="registrationModalLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="registrationModalLabel">Регистрация нового пользователя</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <div class="modal-body">
                <form class="row g-3 p-4"  method="post"  th:action="@{/registration}"  th:if="${userDto}" th:object="${userDto}" >

                    <div class="col-md-6">
                        <label for="login" class="form-label">Login</label>
                        <input type="text" th:field="*{userInfo.user.userName}" class="form-control" id="login">
                    </div>
                    <div class="col-md-6">
                        <label for="password" class="form-label">Пароль</label>
                        <input type="password" th:field="*{userInfo.user.password}" class="form-control" id="password">
                    </div>
                    <div class="col-md-6">
                        <label for="inputPasswordRepeat" class="form-label">Повторите пароль</label>
                        <input type="password"  class="form-control" id="inputPasswordRepeat">
                    </div>
                    <div class="col-md-6">
                        <label for="userName" class="form-label">Имя</label>
                        <input type="text" th:field="*{userInfo.name}"  class="form-control" id="userName">
                    </div>
                    <div class="col-md-6">
                        <label for="email" class="form-label">Эл. адрес</label>
                        <input type="email" th:field="*{userInfo.email}" class="form-control" id="email">
                    </div>
                    <div class="col-md-6">
                        <label for="phoneNumber" class="form-label">Номер телефона</label>
                        <input type="text" th:field="*{userInfo.phoneNumber}" class="form-control" id="phoneNumber">
                    </div>


                    <div class="col-6">
                        <label for="street" class="form-label">Улица</label>
                        <input type="text" th:field="*{userInfo.address.street}" class="form-control" id="street" placeholder="Проспект Ленина">
                    </div>
                    <div class="col-4">
                        <label for="numberOfHouse" class="form-label">Номер дома</label>
                        <input type="text" th:field="*{userInfo.address.numberOfHouse}"  class="form-control" id="numberOfHouse" placeholder="Дом">
                    </div>
                    <div class="col-4">
                        <label for="apartmentNumber" class="form-label">Номер квартиры</label>
                        <input type="text"  th:field="*{userInfo.address.apartmentNumber}" class="form-control" id="apartmentNumber" placeholder="Квартира">
                    </div>
                    <div class="col-md-6">
                        <label for="role" class="form-label">Вы арендатор?</label>
                        <select id="role" th:field="*{role.name}"  class="form-select">
                            <option value="" selected>Выберите роль</option>
                            <option value="OWNER">Владелец</option>
                            <option value="TENANT">Арендатор</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label for="district" class="form-label">Район</label>
                        <select    id="district"  th:field="*{userInfo.address.district}"   class="form-select">
                            <option value="" selected>Выберите район</option>
                            <option value="САО">САО</option>
                            <option value="ВАО">ВАО</option>
                            <option value="ЮАО">ЮАО</option>
                            <option value="ЗАО">ЗАО</option>
                        </select>
                    </div>
                    <div class="text-center">
                        <button type="submit" id="buttonRegistration" class="col-md-6 btn btn-primary ">Зарегистрироваться</button>
                    </div>


                </form>
            </div>
        </div>
    </div>
</div>


</body>
<script
        src="https://code.jquery.com/jquery-3.7.0.js"
        integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="
        crossorigin="anonymous"
></script>

</html>