body{
    background-color: #00BFFF;
}
header{
    margin-top: 50px;
    text-align: right;
}
.button_comeIn{
background-color: #7B68EE;
margin-right: 50px;
font-size: 24px;
}
.button_register{
    background-color: #7B68EE;
    font-size: 24px;
}
.header{
    margin-top: 100px;
    font-size: 50px;
    font-weight: 400;
    text-align: center;
}
.img{
    margin-top: 50px;
    text-align: center;
}