body{
    background-color: aqua;
}
header{
    margin-top: 50px;
    width: 100%;
    height: 50px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.login_user, .menu, .date-in-header{
    width: 150px;
    height: 30px;
    margin-right: 60px;
    border: 0px solid black;
    border-radius: 12px;
    text-align: center;
    padding-top: 10px;
    align-self: flex-end;
}
.date-in-header, .menu{
    background-color: #87CEFA;
}
.menu>a{
    text-decoration: none;
}
.date-in-header{
    width: 160px;
    font-size: 20px;
}
.login_user{
    background-color: #3b9fd9;
}
h2{
    margin-top: 50px;
    text-align: center;
    font-size: 26px;
    font-weight: 200;
}
.fields{
    margin-top: 90px;
    margin-left: 500px;
    display: flex;
    flex-direction: row;
    float: left;
}
.expense, .income{
    margin-right: 50px;
    font-size: 22px;
}
button{
    margin-top: 20px;
    font-size: 15px;
}
.message{
    margin-top: 300px;
    margin-left: 200px;
    font-size: 25px;
    font-weight: 600;
}