<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Survey Result List</title>
</head>
<body>
<h1>Survey Result List</h1>
<table>
    <tr>
        <th>ID</th>
        <th>User</th>
        <th>Survey</th>
        <th>Answer</th>
        <!--  другие заголовки столбцов  -->
    </tr>
    <tr th:each="result : ${surveyResults}">
        <td th:text="${result.id}"></td>
        <td th:text="${result.user.username}"></td>
        <td th:text="${result.survey.title}"></td>
        <td th:text="${result.answer}"></td>
        <!-- другие столбцы и информацию -->
    </tr>
</table>
<a href="/survey-results/create">Create Survey Result</a>
<!--  другие ссылки и элементы управления -->
</body>
</html>