<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css">
    <link rel="stylesheet" href="/css/details-expense.css">
</head>
<body>
<header>
    <div id="date_time" class="date-in-header"></div>
    <div class="menu">
        <a th:href="@{/menu}"> Menu </a>
    </div>
    <div class="login_user" sec:authorize="isAuthenticated()">
        <span sec:authentication="name"></span>
    </div>
</header>
<section class="fields">
        <form  th:action="@{/newCategory/add}" method="post">
            <div class="checkbox">
                <label>Добавить новую категорию расхода</label>
                <input type="checkbox" th:name="whatToAdd" th:value="расходы" />
                <label>Название новой категории расхода</label>
                <input type="text" th:name="NameNewCategory"/>
            </div>
                <div class="checkbox">
                    <label>Добавить новый источник дохода</label>
                    <input type="checkbox" th:name="whatToAdd" th:value="доходы" />
                    <label>Название нового источника дохода</label>
                    <input type="text" th:name="NameNewCategory"/>
                </div>
            <button class="button_add">Добавить</button>
        </form>
            <div th:if="${message}">
                <h2> Добавлено!</h2>
            </div>
</section>
<script src="/js/menu.js"></script>
</body>
</html>