<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Регистрация в приложении</title>
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
</head>
<body>
<section>
    <div>
        <h1>
            Добавить Person
        </h1>
    </div>
</section>
<section>
    <div>
        <form  th:action="@{/addPersonView}" method="post" th:object="${personForm}">
            <div class="input">
                <input name="name" placeholder="Имя "  th:field="*{name}"/>
            </div>
            <div class="input">
                <input name="surname" placeholder="Фамилия "  th:field="*{surname}"/>
            </div>
            <div class="input">
                <input name="phone" placeholder="Номер телефона "  th:field="*{phone}"/>
            </div>
            <div class="input">
                <input id="submitButton" type="submit"  value="Добавить" />
            </div>
        </form>
    </div>
</section>
</body>