<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details income</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css">
    <link rel="stylesheet" href="./css/details-income.css">
</head>
<body>
<header>
    <div class="menu">
        <a th:href="@{/menu}"> Menu </a>
    </div>
    <div class="login_user">
        <p th:text="${userLogin}"></p>
    </div>
</header>
    <section>
        <form th:action="@{/details/incomes}" method="post">
            <label>Семья</label>
            <input type="checkbox" th:name="checkbox" th:value="family" />
            <label>Пользователь</label>
            <input type="checkbox" th:name="checkbox" th:value="user" />
            <label>Начало периода</label>
            <input type="date"  name="startDate" th:value="${startDate}" />
            <label>Конец периода</label>
            <input type="date" name="endDate" th:value="${endDate}"/>
            <button class="button_show">Show list of incomes</button>
        </form>

    </section>
            <section>
                <div  th:switch ="${forWhomCalculation}">
                    <div th:case="'family'">
                        <ul class="list">
                            <li th:each="listIncomeByCategory : ${detailsListIncomesFamily}">
                                <span th:text="${listIncomeByCategory.key}">: </span>
                                <span th:text="${listIncomeByCategory.value}"></span> <span> рубл.</span>
                            </li>
                        </ul>
                    </div>
                            <div th:case="'user'">
                                <ul class="list">
                                    <li th:each="listIncomeByCategory : ${detailsListIncomesUser}">
                                        <span th:text="${listIncomeByCategory.key}">: </span>
                                        <span th:text="${listIncomeByCategory.value}"></span> <span> рубл.</span>
                                    </li>
                                </ul>
                            </div>
                </div>

            </section>
</body>
</html>