<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details expense family</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css">
    <link rel="stylesheet" href="./css/details_expense_family.css">
</head>
<body>
<header>
    <div class="menu">
        <a th:href="@{/menu}"> Menu </a>
    </div>
    <div class="login_user">
        <p th:text="${userLogin}"></p>
    </div>
</header>
    <h2>Details expense family</h2>
        <section>
            <ul>
                <li th:each="expenseCategory : ${listExpensesFamilyByCategory}">
                    <span th:text="${expenseCategory.key}">: </span>
                    <span th:text="${expenseCategory.value}"></span> <span> рубл.</span>
                </li>
            </ul>
        </section>
</body>
</html>