<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Total income</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css">
<!--    <link rel="stylesheet" href="/css/income.css">-->
    <link rel="stylesheet" href="/css/calculationExpensesAndIncomes.css">
</head>
<body>
<header>
    <div id="date_time" class="date-in-header"></div>
    <div class="menu">
        <a th:href="@{/menu}"> Menu </a>
    </div>
    <div class="login_user" sec:authorize="isAuthenticated()">
        <span sec:authentication="name"></span>
    </div>
</header>
<section class="input-fields">
    <form th:action="@{/income/calculation}" method="post">
        <div class="checkbox">
            <label>Семья</label>
            <input type="checkbox" th:name="checkbox" th:value="family" />
        </div>
        <div class="checkbox">
               <label>Пользователь</label>
               <input type="checkbox" th:name="checkbox" th:value="user" />
           </div>
                <div class="date">
                    <label>Начало периода</label>
                    <input type="date"  name="startDate" th:value="${startDate}" />
                    <label>Конец периода</label>
                    <input type="date" name="endDate" th:value="${endDate}"/>
                </div>
        <button class="button_show">Рассчитать</button>
    </form>
</section>
        <section class="income-output">
            <div  th:switch ="${checkbox}">
                <div th:case="'family'">
                    <span>Общий доход семьи составляет:  </span>
                    <span th:text="${totalIncomeFamily}"></span>
                    <span>рубл.</span>
                </div>
                <div th:case="'user'">
                    <span>Общий доход пользователя составляет:  </span>
                    <span th:text="${totalIncomeUser}"></span>
                    <span>рубл.</span>
                </div>
            </div>
        </section>
<script src="/js/menu.js"></script>
</body>
</html>