<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Школьные предметы</title>
</head>
<body>
<div>
    <h1>
         Школьные предметы
    </h1>
</div>

<div th:each="subject: ${subjects}">
            <label th:text="${subject.getName()}"></label>
</div>

<div>
    <h1>
        Школьные предметы c преподавателями
    </h1>
</div>
<table>
    <div th:each="subject: ${subjectsWithTeacher}">
        <tr>
            <td>
                <label th:text="${subject.getSubjectName()}"></label>
            </td>
            <td>
                <label th:text="${subject.getTeacherName()}"></label>
            </td>
        </tr>
    </div>
</table>
</body>
</html>