<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Lessor</title>
    <link rel="stylesheet" th:href="@{css/stylesIndex.css}" type="text/css"/>
</head>
<body>
<section class="top">
    <div class="top_center">
        <div>
            Кабинет арендодателя:    <label  th:text="${personName}"></label>
        </div>
        <h1>
            Аренда инструмента
        </h1>
    </div>
</section>
<section class="center">
    <div class="userBox">
        <div class="table">
            <div class="panel">
                <a href="toolCreatedView">Здать</a>
                <a href="toolView">Изменить</a>
            </div>
            <div class="tools">

            </div>
        </div>
    </div>
</section>
</body>
</html>