<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Вход в приложение</title>
    <link rel="stylesheet" th:href="@{css/stylesIndex.css}" type="text/css"/>
</head>
<body>
<section class="top">
    <div class="top_center">
        <h1>
            Войти в приложение
        </h1>
    </div>
</section>
<section class="center">
    <div class="registration">
        <h2>
            Рады приветствовать Вас
        </h2>
        <p>
            <a th:href="@{/login}"> Войти </a>
        </p>
        <p>
            <a th:href="@{/registration}"> Зарегистрироваться </a>
        </p>
    </div>
</section>

</body>