<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>my tools</title>
    <link
            th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css}"
            rel="stylesheet"
    />
    <link
            th:href="@{https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap}"
            rel="stylesheet"
    />
    <link rel="stylesheet" th:href="@{/css/footer.css}"/>
    <link rel="stylesheet" th:href="@{/css/gradient.css}"/>
</head>
<body>
<div th:include="fragments/header :: header"></div>

<div class="gradient">

    <div class="row">
        <div class="col-lg-2 left-bar">
            <a class="btn btn-primary" data-bs-target="#infoModal" data-bs-toggle="modal">личные данные</a>
            <a class="btn btn-primary" sec:authorize="hasAuthority('OWNER')" data-bs-target="#createProductModal"
               data-bs-toggle="modal">добавить инструмент</a>
            <a class="btn btn-primary" th:href="@{/tools-nearby}" >инструменты рядом</a>
        </div>

        <div class="col-lg-9 ">
            <div class="row">

                <h>Мои инструменты</h>
                <div class="col-lg-4 pb-5" th:each="tool : ${products}">
                    <div class="card ">
                        <h5 class="card-title" th:text="${tool.title}">Заголовок карточки</h5>
                        <img th:src="${tool.linkToTheImage}" class="card-img-top"
                             th:alt="${tool.linkToTheImage}"/>
                        <div class="card-body">
                            <p class="card-specification" th:text="${tool.specification}">
                                ...
                            </p>
                            <div class="card-price">
                                <div class="card-text" th:if="${tool.isBusy}">
                                    <p>Арендовано до:</p>
                                    <div th:each="entry : ${mapOrders}">
                                        <div th:if="${entry.key==tool}">
                                            <p  th:text="${entry.value.endDate}"></p>
                                            <a th:href="@{'/order/delete/' + ${entry.value.id}}" metod="post" class="btn btn-primary">Прервать аренду</a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <a th:href="@{'/delete/product/' + ${tool.id}}" metod="post"
                               class="btn btn-primary">Удалить</a>
                        </div>
                    </div>
                </div>

            </div>

        </div>


    </div>
    <div th:include="personal-account :: infoModal"></div>

    <div th:include="personal-account :: createProductModal"></div>


</div>

<div th:include="fragments/footer :: footer"></div>
<script
        src="https://code.jquery.com/jquery-3.7.0.js"
        integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="
        crossorigin="anonymous"
></script>
<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"
></script>
<script>
    $('#authModalButton').hide();
</script>
<script>
    (function () {
        'use strict'

        var forms = document.querySelectorAll('.needs-validation')


        Array.prototype.slice.call(forms)
            .forEach(function (form) {
            form.addEventListener('submit', function (event) {
                if (!form.checkValidity()) {
                    event.preventDefault()
                    event.stopPropagation()
                }

                form.classList.add('was-validated')
            }, false)
        })
    })()
</script>
</body>
</html>