<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Регистрация в приложении</title>
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <link rel="stylesheet" th:href="@{css/stylesIndex.css}" type="text/css"/>
</head>
<body>
<section class="top">
    <div class="top_center">
        <h1>
            Аренда инструмента
        </h1>
    </div>
</section>
<section class="center">
    <div class="registration">
        <h2>
            Зарегистрируйтесь
        </h2>
        <div class="divError" th:if="${error}"> </div>
        <form  th:action="@{/registration}" method="post" th:object="${userForm}">
            <div class="input">
                <input type="checkbox" name="role" th:chacked="*{role}"/> Зарегистрироваться как арендодатель
            </div>
            <div class="input">
                <input name="name" placeholder="Имя "  th:field="*{name}" required/>
            </div>
            <div class="input">
                <input name="phone" placeholder="Номер телефона "  th:field="*{phone}" required/>
            </div>
            <div class="input">
                <input name="login" placeholder="Имя пользователя"  th:field="*{login}" required/>
            </div>
            <div class="input">
                <input type="password" id="password" name="password" placeholder="Пароль"  th:field="*{password}" required/>
            </div>
            <div class="input">
                <input type="password" id="confirm_password" name="passwordRepeat" placeholder="Повторно пароль"/>
            </div>
            <div class="input">
                <input id="submitButton" type="submit" disabled value="Зарегистрироваться" />
            </div>
           </form>
        <div class="input">
            <a th:href="@{/login}"> Войти </a>
        </div>
    </div>
        <script th:inline="javascript" type="text/javascript">
            $("#confirm_password").on("keyup", function() {
              var value_input1 = $("#password").val();
              var value_input2 = $("#confirm_password").val();
              if(value_input1 != value_input2) {
                  $("#submitButton").attr("disabled",true);
                  $(".error").html("Пароли не совпадают!");
                  $("#submit").attr("disabled", "disabled");
                } else {
                      $("#submitButton").attr("disabled",false);
                      $("#submit").removeAttr("disabled");
                      $(".error").html("");
                    }
            });
        </script>
</section>
</body>