<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Аренда инструмента</title>
    <link rel="stylesheet" th:href="@{css/stylesIndex.css}" type="text/css"/>
</head>
<body>
<section class="top">
    <div class="top_center">
        <h1>
            Аренда инструмента
        </h1>
    </div>
</section>
<section class="center">
    <div class="registration">
        <form  th:action="@{/toolCreatedView}" method="post" th:object="${toolForm}">

            <div class="input">
                <input name="name" placeholder="Название"  th:field="*{name}"/>
            </div>
            <div class="input">
                <input name="district" placeholder="Район"  th:field="*{district}"/>
            </div>
            <div class="input">
                <input name="street" placeholder="Улица"  th:field="*{street}"/>
            </div>
            <div class="input">
                <input name="price" placeholder="Цена в сутки"  th:field="*{price}"/>
            </div>

            <div class="input">
                <input id="submitButton" type="submit"  value="Сохранить" />
            </div>
        </form>
    </div>
</section>
</body>
