<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css">

</head>
<body>
<header>
    <div id="date_time" class="date-in-header"></div>
    <div class="menu">
        <a th:href="@{/menu}"> Menu </a>
    </div>
    <div class="login_user" sec:authorize="isAuthenticated()">
        <span sec:authentication="name"></span>
    </div>
</header>
<section class="fields">
    <form class="update-category-expense"  th:action="@{/recordsDb/update}" method="post">
        <label>Категории расходов</label>
        <input type="checkbox" th:name="whatToAdd" th:value="расходы">

        <ul class="form-select" th:each="category : ${allCategoriesExpenses}">
          <label th:text="${category.nameExpenseCategory}"></label>
            <input type="checkbox" th:name="${altNameCategory}">
        </ul>
            <label>Введите новое название категории расхода</label>
            <input th:value="${newNameCategory}" type="text">


        <button type="submit"> Добавить </button>

    </form>
    <div class="message" th:if="${message == 'ok'}">
        <h2> Добавлено!</h2>
    </div>
</section>
<script src="/js/menu.js"></script>
</body>
</html>