<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h1></h1>
<ul>
    <li th:each="question : ${questions}">
        <p th:text="${question.title}"></p>
        <p th:text="${question.question}"></p>
        <!-- Форма для ответа на вопрос -->
        <form th:action="@{'/user/questions/' + ${question.id}}" method="post">
            <input type="text" name="answerText" placeholder="Your Answer">
            <button type="submit"></button>
        </form>
    </li>
</ul>
</body>
</html>