<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Tool</title>
    <link rel="stylesheet" th:href="@{../css/stylesIndex.css}" type="text/css"/>
</head>
<body>
<section th:replace="fragments/header :: header" />
<section class="center">
    <div class="registration">

        <form th:action="@{/renter/orderCard}" method="post"  th:object="${order}">
            <div>
                <label>Наименование: </label>
                <label th:text="${tool.getName()}"></label>
            </div>
            <div>
                <label>Цена в сутки: </label>
                <label th:text="${tool.getPrice()}"></label>
                <label> рублей</label>
            </div>
            <div>
                <input type="hidden" th:value="${tool.getId()}" name="toolId"/>
                <input type="date"   th:field="*{startDate}" required/>
                <input type="date"   th:field="*{stopDate}" required/>
            </div>
            <input id="submitButton" type="submit"  value="Арендовать"/>
        </form>
    </div>
</section>
</body>
</html>