<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Renter</title>
    <link rel="stylesheet" th:href="@{../css/stylesIndex.css}" type="text/css"/>
</head>
<body>
<section class="top">

    <div class="top_center">
        <div>
            Кабинет арендатора:    <label  th:text="${personName}"></label>
        </div>
        <h1>
            Аренда инструмента
        </h1>
    </div>
</section>
<section class="center">
    <div class="userBox">
        <table th:each="order:${orders}">
            <td>
                <label th:text="${order.getId()}"></label>
            </td>
            <td>
                <label th:text="${order.getStartDate()}"></label>
            </td>
        </table>
        <button><a  th:href="@{/renter/toolSearchView}">Арендовать</a></button>
    </div>
</section>
</body>
</html>