<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Renter</title>
    <link rel="stylesheet" th:href="@{../css/stylesIndex.css}" type="text/css"/>
</head>
<body>
<section class="top">

    <div class="top_center">
        <div>
            Кабинет арендатора:    <label  th:text="${personName}"></label>
        </div>
        <h1>
            Аренда инструмента
        </h1>
    </div>
</section>
<section class="center">
    <div class="userBox">
        <table th:each="tool:${tools}">
            <td>
                <a href="@{/{toolId}(toolId=${tool.getId()})}"><label th:text="${tool.getName()}"></label> </a>
            </td>
            <td>
                <label th:text="${tool.getPrice()}">  </label>
            </td>
        </table>

    </div>
</section>
</body>
</html>