<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Renter</title>
    <link rel="stylesheet" th:href="@{../css/stylesIndex.css}" type="text/css"/>
</head>
<body>
<section class="top">

    <div class="top_center">
        <div>
            Кабинет арендатора:    <label  th:text="${personName}"></label>
        </div>
        <h1>
            Аренда инструмента
        </h1>
    </div>
</section>
<section class="center">
    <div class="userBox">
        <form th:action="@{/renter/toolSearchView}" method="post">
            <div class="input">
                <input name="name" placeholder="название" th:value="${name}"/>
            </div>
            <div>
                <input name="priceMin" placeholder="мин. цена" th:value="${priceMin}"/>
                <input name="priceMax" placeholder="макс. цена" th:value="${priceMax}"/>
            </div>
            <div>
                <input type="date"  th:value="${startDate}"  name="startDate"/>
                <input type="date"  th:value="${stopDate}" name="stopDate"/>
            </div>


            <div class="input">
                <input  type="submit"  value="Найти" />
            </div>
        </form>
        <table th:each="tool:${tools}">
            <td>
                <a th:href="@{/renter/toolCard(toolId=${tool.getId()})}"><label th:text="${tool.getName()}"></label> </a>
            </td>
            <td>
                <label th:text="${tool.getPrice()}">  </label>
            </td>
        </table>
        <div>
            <a th:href="@{/renter/toolCard}">Перейти</a>
        </div>

    </div>
</section>
</body>
</html>