<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Renter</title>
    <link rel="stylesheet" th:href="@{../css/stylesIndex.css}" type="text/css"/>
</head>
<body>
</section>
<section th:replace="fragments/header :: header" />
<section class="center">
    <div class="userBox">
        <div class="table">
            <div>
                <form th:action="@{/renter/toolSearchView}" method="post">
                    <h3>Поиск</h3>
                    <div class="field">
                        <label>Начало аренды:</label>
                        <input type="date"  th:value="${startDate}"  name="startDate" required/>
                    </div>
                    <div class="field">
                        <label>Окончание аренды:</label>
                        <input type="date"  th:value="${stopDate}" name="stopDate" required/>
                    </div>
                    <div class="field">
                        <label>Инструмент:</label>
                        <input name="name" placeholder="название" th:value="${name}"/>
                    </div>
                    <div class="field">
                        <label>Район:</label>
                        <input name="district" placeholder="район" th:value="${district}"/>
                    </div>
                    <div class="field">
                        <label>Минимальная цена:</label>
                        <input name="priceMin" placeholder="мин. цена" th:value="${priceMin}"/>
                    </div>
                    <div class="field">
                        <label>Максимальная цена:</label>
                        <input name="priceMax" placeholder="макс. цена" th:value="${priceMax}"/>
                    </div>
                    <div class="input">
                        <button><a  th:href="@{/renter/renterView}">Вернуться</a></button>
                        <input  type="submit"  value="Найти" />
                    </div>
                </form>
            </div>
            <div class="content">
                <table>
                    <thead>
                    <tr>
                        <th>
                            Инструмент
                        </th>
                        <th>
                            Цена за сутки
                        </th>
                    </tr>
                    </thead>
                    <tbody th:each="tool:${tools}">
                    <tr>
                        <td>
                            <a class="change-text" th:href="@{/renter/orderCreateCard(toolId=${tool.getId()})}"><label th:text="${tool.getName()}"></label> </a>
                        </td>
                        <td>
                            <label th:text="${tool.getPrice()}"></label>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
</body>
</html>